@{
    ViewData["Title"] = "Mapa";
}

<h1>Mapa</h1>

<div id="map" style="height: 400px;"></div>

<script>
    function initMap() {
        var latitud = @ViewBag.Latitud;
        var longitud = @ViewBag.Longitud;

        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: latitud, lng: longitud },
            zoom: 15
        });

        var marker = new google.maps.Marker({
            position: { lat: latitud, lng: longitud },
            map: map,
            title: 'Ubicación del inmueble'
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=TU_API_KEY&callback=initMap" async defer></script>
