@model Inquilino;
@{
    ViewData["Title"] = "Home Page";
    int id = Model == null? 0 : Model.Id;
}

<div class="text-center">
    <h1 class="display-4">Inquilinos</h1>
    <h4>Formulario:</h4>
        
</div>
