@model UpsertInquilinoViewModel;
@{
    ViewData["Title"] = "Home Page";
    int id = Model.Inquilino == null ? 0 : Model.Inquilino.Id;
}

<div class="text-center row fw-light bg-light rounded-4 py-5 px-4 shadow">
    <div class="col">
        <h1 class="display-4">Inquilinos</h1>
        <h4>@Model.Tittle
        </h4>
    </div>

    <div class="col-md-12 col-lg-6">
        <div class="col-lg-8">
            <form asp-action="Guardar" method="post" class="text-start" id="myForm">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <!--<label asp-for="Inquilino.Id" class="control-label"></label>-->
                    <input type="hidden" asp-for="Inquilino.Id" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Inquilino.Nombre" class="control-label"></label>
                    <input asp-for="Inquilino.Nombre" class="form-control" id="name">
                    <ul id="name-feedback">
                    </ul>

                </div>
                <div class="form-group">
                    <label asp-for="Inquilino.Apellido" class="control-label"></label>
                    <input asp-for="Inquilino.Apellido" class="form-control" id="last-name">
                    <ul id="last-name-feedback">
                    </ul>

                </div>
                <div class="form-group">
                    <label asp-for="Inquilino.Email" class="control-label"></label>
                    <input asp-for="Inquilino.Email" class="form-control" id="email" placeholder="name@example.com">
                    <ul id="email-feedback">
                    </ul>

                </div>
                <div class="form-group">
                    <label asp-for="Inquilino.Dni" class="control-label"></label>
                    <input asp-for="Inquilino.Dni" class="form-control" id="dni">
                    <ul id="dni-feedback">
                    </ul>

                </div>
                <div class="form-group">
                    <label asp-for="Inquilino.Telefono" class="control-label"></label>
                    <input asp-for="Inquilino.Telefono" class="form-control" id="phone">
                    <ul id="phone-feedback">
                    </ul>

                </div>
                <div class="form-group">
                    <label asp-for="Inquilino.Domicilio" class="control-label"></label>
                    <input asp-for="Inquilino.Domicilio" class="form-control" id="address">
                    <ul id="address-feedback">
                    </ul>

                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary m-2">
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/validationFun.js"></script>
    <script src="~/js/formValidation.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}