@model UpsertContratoViewModel;
@{
    ViewData["Title"] = "Home Page";
    Console.WriteLine();
}

<div class="text-center row fw-light bg-light rounded-4 py-5 px-4 shadow">
    <div class="col">
        <h1 class="display-4">Contrato</h1>
        <h4>Editando contrato nro</h4>
    </div>
    <div>
        <form>
            
        </form>
    </div>

</div>
