@model CambiarContraseñaViewModel

@{
    ViewData["Title"] = "Cambiar Contraseña";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3>Cambiar Contraseña</h3>
                </div>
                <div class="card-body">
                    <form asp-action="CambiarContrasena" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdUsuario" />

                        <div class="form-group">
                            <label asp-for="ContraseñaActual" class="control-label">Contraseña Actual</label>
                            <input asp-for="ContraseñaActual" class="form-control" type="password" required />
                            <span asp-validation-for="ContraseñaActual" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NuevaContraseña" class="control-label">Nueva Contraseña</label>
                            <input asp-for="NuevaContraseña" class="form-control" type="password" required />
                            <span asp-validation-for="NuevaContraseña" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmarContraseña" class="control-label">Confirmar Nueva
                                Contraseña</label>
                            <input asp-for="ConfirmarContraseña" class="form-control" type="password" required />
                            <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
                        </div>

                        <div class="form-group text-center mt-4">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    @section Scripts {


        @{
            if (Model != null && Model.ToastMessage != null)
            {
                <text>
                    <script>
                        const Rol = "@Model.Rol";
                        $(document).ready(function () {
                            var toastMessage = "@Model.ToastMessage";
                            if (toastMessage) {
                                $("#toastMessage").text(toastMessage);
                                $("#liveToast").toast("show");
                            }

                        })
                    </script>
                </text>
            }
        }
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
</div>
