@model UpsertUsuarioViewModel;

@{
    ViewData["Title"] = "Home Page";
    int id = Model.Usuario == null ? 0 : Model.Usuario.IdUsuario;
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 bg-white rounded p-6">
            <h1 class="display-4">Usuarios</h1>
            <h4>@Model.Tittle</h4>
            <form asp-action="Guardar" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <input type="hidden" asp-for="Usuario.IdUsuario" class="form-control" readonly>
                </div>

                <div class="form-group">
                    <label asp-for="Usuario.Nombre" class="control-label"></label>
                    <input asp-for="Usuario.Nombre" class="form-control">
                    <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Usuario.Apellido" class="control-label"></label>
                    <input asp-for="Usuario.Apellido" class="form-control">
                    <span asp-validation-for="Usuario.Apellido" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Usuario.Email" class="control-label"></label>
                    <input asp-for="Usuario.Email" class="form-control">
                    <span asp-validation-for="Usuario.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Usuario.Clave" class="control-label"></label>
                    <input asp-for="Usuario.Clave" class="form-control" type="password">
                    <span asp-validation-for="Usuario.Clave" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AvatarFile" class="control-label">Subir Avatar</label>
                    <input asp-for="AvatarFile" type="file" class="form-control-file">
                    <span asp-validation-for="AvatarFile" class="text-danger"></span>

                    @if (!string.IsNullOrEmpty(Model.Usuario?.Avatar))
                    {
                        <img src="@Model.Usuario.Avatar" alt="Avatar" style="width: 100px; height: 100px;" />
                    }
                </div>



                <div class="form-group">
                    <label asp-for="Usuario.Rol" class="control-label"></label>
                    <select asp-for="Usuario.Rol" class="form-select">
                        <option value="1">Administrador</option>
                        <option value="2">Empleado</option>

                    </select>
                    <span asp-validation-for="Usuario.Rol" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary m-2">



                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
